:root,
::before,
::after {
  --black: 0 0 0;
  --white: 255 255 255;
  --white-secondary: 243 243 244;
  --text: 110 109 122;
  --grey: 158 158 167;
  --blue-grey: 61 61 78;
  --brown-grey: 51 51 51;
  --dark-blue: 13 12 34;
  --pink: 234 76 137;
  --skeleton: 214 218 226;
  --skeleton-highlight: 255 255 255;
}

.dark,
dark::before,
dark::after {
  --black: 0 0 0;
  --white: 255 255 255;
  ---white-secondary: 243 243 244;
  --text: 110 109 122;
  --grey: 158 158 167;
  --blue-grey: 61 61 78;
  --brown-grey: 51 51 51;
  --dark-blue: 13 12 34;
  --pink: 234 76 137;
  --skeleton: 214 218 226;
  --skeleton-highlight: 255 255 255;
}
